.md body {
    --ion-background-color: #161B33;
    --ion-text-color: #ffffff;
  }
  .ios body {
    --ion-background-color: #161B33;
    --ion-text-color: #ffffff;
  }

  .mine2{
    align-items: center;
    text-align: center;
  }