<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome {{userName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-header>
      <ion-toolbar>
        <div>
          <ion-button (click) = "logOut()">Logout</ion-button>
          <ion-button color="danger">Danger Button</ion-button><br>
        </div>
      
        <ion-card>
          <ion-card-header>DASHBOARD</ion-card-header>
        </ion-card>
        <ion-card>
          <ion-card-content>
              ACTIVITY 5
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content> BAUTISTA, CHENIE </ion-card-content>
        </ion-card>
        
        <body>
        <custom-slider></custom-slider>
        </body>

        <ion-toggle [(ngModel)]="condition"></ion-toggle><br>

        <br>MODAL<br>
        <ion-button color="secondary" (click)="toggleModal()">Modal</ion-button>
      
        <br>ALERT<br>
        <ion-button color="secondary" (click)="alert()">Alert</ion-button>
      
        <br>TOAST<br>
        <ion-button color="secondary" (click)="presentToast()">Present Toast</ion-button><br>      
        
      </ion-toolbar>
    </ion-header>
  </ion-content>
  
  <section>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      
      <ion-fab-list side="top">
          <ion-fab-button>
              <ion-icon name="logo-facebook"></ion-icon>
          </ion-fab-button>

          <ion-fab-button>
              <ion-icon name="logo-twitter"></ion-icon>
          </ion-fab-button>

          <ion-fab-button>
              <ion-icon name="logo-instagram"></ion-icon>
          </ion-fab-button>
          
      </ion-fab-list>
    </ion-fab>
  </section>