  .pix{
    height: 350px;
    weight: 350px;
    padding-left: 10px;
  }

  .hob{
    align-items: center;
  }

  h5 {
    text-align: center;
  }

  .name{
    font-size: 25px;
    color: antiquewhite;
  }

  .intro{
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .introoo{
    background-color: #161B33    ;
  }
  .hobbies{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: antiquewhite;
    background-color: #161B33 ;

  }

  .whole{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration-color: antiquewhite;

  }
