<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="handleScrollStart()"
  (ionScroll)="handleScroll($any($event))"
  (ionScrollEnd)="handleScrollEnd()"
  class="ion-padding"
  style="background-color: #161B33;"
>
  <h5 style="font-family: Verdana, Geneva, Tahoma, sans-serif;"><strong> 𓇻 DEVELOPER'S PORTFOLIO 𓇻 </strong></h5>
  
  <div class="whole">
  <div style="align-items: center; display: flex; flex-direction: column; justify-content: center; align-items: center;" class="introoo">
  <ion-card style="width: 350px; text-align: center; align-items: center; display: flex; flex-direction: column; justify-content: center; align-items: center; background-color: #161B33;">
    <img alt="pfp" src="https://scontent.fmnl34-1.fna.fbcdn.net/v/t39.30808-6/346469572_1269329690348876_4549109016860478520_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEE1--fMaig6oCZhzsPnPvp1r0yNWgXJHbWvTI1aBckdtpu9hlzDHiRIGDX0Shy1EjLh2Z2WAPZy5jgLL13gBLF&_nc_ohc=ibZtbGq1ds4Ab5ROYWJ&_nc_zt=23&_nc_ht=scontent.fmnl34-1.fna&oh=00_AfDugOWb14ZFTvuNLypWbjmCES-PWlWB7nv0h6gan8fy1A&oe=66326291" />
    <ion-card-header>
      <ion-card-title style="font-family: Verdana, Geneva, Tahoma, sans-serif;" class="name"><strong>BAUTISTA, CHENIE D.</strong></ion-card-title>
    </ion-card-header>
  
    <ion-card-content style="text-decoration: antiquewhite;" class="intro">
      Hello! I'm Chenie, and I prefer to be called "Chen" like how my closest friends call me. I am 19 years old
      and currently, a sophomore student at the Pamantasan ng Lungsod ng Valenzuela taking up Bachelor of Science in 
      Information Technology.  I pride  myself on my ability to adapt to advancements and my eagerness to learn from others.
      I believe that continuous learning and collaboration are key to success.
        </ion-card-content>
  </ion-card>

  <ion-card style ="width: 350px; text-align: center; align-items: center; display: flex; flex-direction: column; 
  justify-content: center; align-items: center;" class= hobbies>
    <ion-card-header>
      <ion-card-title style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
       text-decoration: antiquewhite;"> <strong>ᯓ★ HOBBIES AND LIKES </strong> </ion-card-title>
    </ion-card-header>
  
    <ion-card-content style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: antiquewhite;">
     <strong>
      ⚝ billiards<br>
      ⚝ listening to music <br>
      ⚝ hanging out with friends <br>
      ⚝ likes/loves to play with my niece :P <br>

    </strong>
        </ion-card-content>
  </ion-card>
  <ion-card style ="width: 350px; text-align: center; align-items: center; display: flex; flex-direction: column; 
  justify-content: center; align-items: center;" class= hobbies>
    <ion-card-header>
      <ion-card-title style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
       text-decoration: antiquewhite;"> <strong> ᯓ★ TALENT/SKILL ★ᯓ</strong> </ion-card-title>
    </ion-card-header>
  
    <ion-card-content style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: antiquewhite;">
     <strong> 
       Can sense if something's off with a person I'm talking to.<br>
        </strong>
        </ion-card-content>
  </ion-card>
  <ion-card style ="width: 350px; text-align: center; align-items: center; display: flex; flex-direction: column; 
  justify-content: center; align-items: center;" class= hobbies>
    <ion-card-header>
      <ion-card-title style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
       text-decoration: antiquewhite;"> <strong> ᯓ★ HOW DO YOU SEE YOURSELF IN 5 YEARS? ★ᯓ</strong> </ion-card-title>
    </ion-card-header>
  
    <ion-card-content style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: antiquewhite;">
     <strong> In five years, I see myself spoiling my family, fulfilling their needs, especially for my parents and niece, all while pursuing my other life goals. </strong></ion-card-content>
  </ion-card>

  <ion-card style ="width: 350px; text-align: center; align-items: center; display: flex; flex-direction: column; 
  justify-content: center; align-items: center;" class= hobbies>
    <ion-card-header>
      <ion-card-title style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
       text-decoration: antiquewhite;"> <strong>ᯓ★ STRENGTH & WEAKNESS ★ᯓ</strong> </ion-card-title>
    </ion-card-header>
  
    <ion-card-content style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: antiquewhite;">
     <strong> Once I'm on my field, my patient and competetive  side comes out but when something doesn't go according to plan,
      I tend to become discouraged right away.<br>
    </strong>
        </ion-card-content>
  </ion-card>

  
<ion-card style ="width: 350px; text-align: center; align-items: center; display: flex; flex-direction: column; 
  justify-content: center; align-items: center;" class= hobbies>
    <ion-card-header>
      <ion-card-title style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
       text-decoration: antiquewhite;"> <strong>ᯓ★ MOTTO ★ᯓ</strong> </ion-card-title>
    </ion-card-header>
  
    <ion-card-content style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: antiquewhite;">
     <strong> Feet on the ground, eyes on the sky.
    </strong>
        </ion-card-content>
  </ion-card>

  
<ion-card style ="width: 350px; text-align: center; align-items: center; display: flex; flex-direction: column; 
  justify-content: center; align-items: center;" class= hobbies>
    <ion-card-header>
      <ion-card-title style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
       text-decoration: antiquewhite;"> <strong>ᯓ★ LOVE LANGUAGE MO? BAKIT? ★ᯓ</strong> </ion-card-title>
    </ion-card-header>
  
    <ion-card-content style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: antiquewhite;">
     <strong> physical touch && acts of service, just got used of them because of my parents :D
    </strong>
        </ion-card-content>
  </ion-card>


<ion-card style ="width: 350px; text-align: center; align-items: center; display: flex; flex-direction: column; 
  justify-content: center; align-items: center;" class= hobbies>
    <ion-card-header>
      <ion-card-title style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
       text-decoration: antiquewhite;"> <strong>ᯓ★ KUNG PAGKAIN KA ANO KA? BAKIT? ★ᯓ</strong> </ion-card-title>
    </ion-card-header>
  
    <ion-card-content style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: antiquewhite;">
     <strong> potato po kasi isa akong chip officer xD
    </strong>
        </ion-card-content>
  </ion-card>


<ion-card style ="width: 350px; text-align: center; align-items: center; display: flex; flex-direction: column; 
  justify-content: center; align-items: center;" class= hobbies>
    <ion-card-header>
      <ion-card-title style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
       text-decoration: antiquewhite;"> <strong>ᯓ★ PET PEEVE ★ᯓ</strong> </ion-card-title>
    </ion-card-header>
  
    <ion-card-content style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: antiquewhite;">
     <strong>
      ⤷ Interrupting while someone is speaking
      <br> ⤷ Lacking self-awareness
      <br> ⤷ I don't like it when people get too close, especially when it's hot >___<
    </strong>
        </ion-card-content>
  </ion-card>
</div>

<div>
  <ion-fab-button (click)="logOut()" vertical="bottom" horizontal="end" slot="fixed" color ="tertiary">
    <ion-icon name="log-out"></ion-icon>
  </ion-fab-button>
</div>
</div>
</ion-content>
