<ion-header style="background-color: #161B33;" [translucent]="true">
  <ion-toolbar >
    <ion-title size="large" style="font-family: Verdana, Geneva, Tahoma, sans-serif;"><strong> dawn 𓇻𓇻</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">dawn 𓇻𓇻</ion-title>
    </ion-toolbar>
  </ion-header>

  <br> <div id="container" style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <strong>Hello! ✧ ˚ · . ↶*ೃ✧˚. ❃ ↷ welcome to my home page ★ (•̤̀‿•̤́☆) </strong>
   <br><br> <p> BAUTISTA, CHENIE D. ⚝ BSIT 2-3</p>
  </div>
</ion-content>
